body{
    background: red !important;
}

 .link::after {
     content: "";
     position: absolute !important;
     left: 0 !important;
     bottom: -2px !important;
     width: 0% !important;
     height: 2px !important;
     background: #FFFFFF !important;
     transition: width 0.3s ease !important;
 }

 .link:hover::after {
     width: 100% !important;
 }